// Colors
$color-primary: #0080a0;    // Purple
$color-secondary: #aaebff;  // Orange
$color-dark: #000000;       // Dark background
$color-dark-accent: #004449;     // Accent color
$color-light: #f2fdff;      // Light text


// Fonts
$font-sans: 'Inter', system-ui, sans-serif;
$font-display: 'Montserrat', sans-serif;
$font-impact: 'Tourner', Impact;
$font-accent: 'Cynatar', sans-serif;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// Container max width
$container-max-width: 1200px;

// Z-index
$z-index-header: 50;
$z-index-modal: 100;
$z-index-dropdown: 30;
$z-index-tooltip: 40;

// Export variables for use in JS/TS files
:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
  colorDark: $color-dark;
  colorLight: $color-light;
} 